<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       <!-- 用户接口 -->
	<bean id="clientUserService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<!-- ${hessian_server.serviceUrl} -->
		<property name="serviceUrl" value="http://localhost:8080/hessian_server/remoting/userServiceAnno" />
		<property name="serviceInterface" value="com.spinach.spring.service.UserService" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true" />
	</bean>
	<bean id="clientUserService2" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<!-- ${hessian_server.serviceUrl} -->
		<property name="serviceUrl" value="http://localhost:8080/hessian_server/remoting/userServiceXml" />
		<property name="serviceInterface" value="com.spinach.spring.service.UserService" />
		<property name="chunkedPost" value="false" />
		<property name="overloadEnabled" value="true" />
	</bean>

	<bean id="userService" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
		<property name="serviceUrl">
			<value>http://localhost:8080/hessian_server/remoting/userServiceAnno</value>
		</property>
		<property name="serviceInterface">
			<value>com.spinach.spring.service.UserService</value>
		</property>
	</bean>
</beans>